body {
    background-color: #f2f2f2;

    background-color: #f2f2f2;

    height: 1210px;
    background-image: url("https://static.eldiario.es/clip/e9c4dba8-b346-444a-8291-5e54d6bd0c62_16-9-discover-aspect-ratio_default_0.jpg");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;



}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.box {
    background-color: #f1ebb6;
    padding: 20px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.footer {
    background-color: grey;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 12px;
}